@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color:#FFF;
  color: #fff;
  font-family: Roboto; 
}

header {
    background-color: #222;
    border: 1px black solid;
    padding: 70px;
}  

/* WILL IS A VIDEO*/

nav {
    background-color: #FFF;
    border: 1px solid;
    padding: 30px;
    font-family:'Roboto';
    width: 50%
    text-align:right;
}


a {
  background-color: #008B8B;
  color: white;
  text-decoration: none;
  display: block;
  float: right;
  padding: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

title {
    color:#222;
    background-color: #fff;
    border: 1px black solid;
    padding: 40px;
    text-align: left; 
    width: 50%
    clear: both;

}



aside {
 /* IMAGES PROBLEM;*/
}


article {
    color:#222;
    background-color: #FFF;
    border: 1px black solid;
    padding: 20px;
}

li {
  float: left;
  width: 50%;
  height: 6em;
  outline: 3px solid #222;
  text-align: center;
  line-height: 6em; 
  color: #fff; 
  background: #000;
}


#about {
  float: left;
}

#services {
  float: right;
}

footer {
    color:#fff;
    background-color: #fff;
    border: 1px black solid;
    padding: 40px;
    text-align: center; 
    clear: both;
}


h1 {
  text-align:center;
  font-family:'Roboto';
  color:#FFF;
}

h2 {
  text-align:left;
  font-family:'Roboto';
  color:#222;
  font-size: 30px;
  line-height: 1.5em;
}


h3 {
  text-align:left;
  font-family:'Roboto';
  color:#808080;
  font-size: 25px;
  font-weight: bold;

}

h4 {
  text-align:right;
  font-family:'Roboto';
  color:#222;

}

h5 {
  text-align:left;
  font-family:'Roboto';
  font-size: 1.5em;
  padding: .8em 0;
  border-bottom-color: #000;
  color: #000;
}
  
h6 {
  text-align:center;
  font-family:'Roboto';
  color:#222;
}

p {
  font-family: roboto;
  font-size: 18px;
  line-height: 1.5em;
  margin: 2em;
  color: #222;
  text-align: left;
}

strong {
  font-variant: small-caps;
}


.row aside {
  width: 30%;
  float: right;
}

.row article {
  width: 65%;
  float:left;
}

#logo 
{
  width: 400px;
  text-align: center;  
}

.blog_images
{width: 250px;
 text-align: right;
 padding-top: 10px
}


.read {
  background: white;
  border: 1px solid grey;
  color: teal;
}

.row {
  text-align: center;
  margin: 8px 24px;
}



@media only screen and (max-width: 800px) {
  nav {
    float: none;
  } 
  nav {
    float: none;
  }
  nav a {
      margin: 0 1.6em .75em 0;
  }
  #img logo {
    width: 320px;
  

   article {
    width: 230px;
  }

  }
  #img scr {
    width: 320px;
  }

   #about {
    font-size: 1.4em;
    line-height: 1.8em;
  }
  
   #services{
    font-size: 1.4em;
    line-height: 1.8em;
  }
  
@media only screen and (max-width: 480px) {
  h1, nav {
    display: block;
    text-align: center;
  }
  nav a {
    margin: 0 1em 1em;
  }
  #img logo {
    width: 230px;
  }

  article {
    width: 230px;
  }

 #img scr {
    width: 320px;
  }

  section, div {
    width: 100%;
    padding: .6em;
  }
  #about {
    float: none;
    font-size: 1.4em;
}
  #services {
    float: none;
    font-size: 1.4em;
  }
  h2 {
    font-size: 1em;
    display: inline;
  }
  p, ul {
    margin: 1.8em .6em 0;
  }
  li {
    width: 80%;
    outline-width: .5em;
    padding: .5em;
    height: 2em;
    line-height: 2em;
  }
}


