@import url('https://fonts.googleapis.com/css?family=Roboto');

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

h1 {
	text-align:center;
    font-family:'Roboto';
}

body {
  background-color:#222;
  color: #fff;
  font-family: Roboto; 
}

#logo 
{
  width: 200px;
}

.blog_images
{width: 300px;
}

p {
	font-family: roboto;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}
strong {
	font-variant: small-caps;
}

footer {
    color:#222;
    background-color: #FFF;
    border: 1px black solid;
    padding: 20px;
}
